body, header{
    margin: 0;
    background-image: url(/images/background.jpg);
    background-position: static;
}
.navbar{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-menu{
    display: grid;
    width: 98%;
    height: 100%;
    grid-template-columns: 20% 30% 20%;
    column-gap: 15rem;
    justify-content: center;
}
.logo{
    text-align: center;
    img{
        width: 7rem; /* размер лого сайта можешь поменять */
    }
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    font-family: "Pacifico" sans-serif ;
    a{
        position: relative;
        text-decoration: none;
        font-size: 1.4rem;
        color: rgb(0, 0, 0);
    }
    a::before{
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color:#000000;
        transition: 0.5s;
        transform: scaleX(0);
    }
    a:hover::before{
        transform: scaleX(1);
    }
}
.icons{
    display: flex;
    align-items:center;
    justify-content: center;
    #basket{
        width: 3.6rem; /*размеры лого корзины убрать можешь */ 
        height: 3.6rem;
    }
    #profile{
        width: 3rem; /*размеры лого профиля убрать можешь тоже */
        height: 3rem;
    }
}
.catalog-body{
    width: 90%;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 60px;
}

.product{
    padding: 10px;
    margin: 10px;
    display: grid ;
    background-color: #ffffff;
    border: 2px solid;
    font-size: 35px;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    
}
    .product a {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        font-style: none;
        color: black;
        text-align: center;
        transition: 200ms;
    }
    .product a:hover{
        transform:scale(1.1) ;
    }
    hr{
        height: 1px;
        width: 95%;
        background-color: #000000;
    }
    * {
        box-sizing: border-box;
      }
      
      .form {
        max-width: 320px;
        padding: 15px;
        margin: 20px auto;
        margin-top: 100px;
        background-color: #fff;
      }
      
      .input {
        display: block;
        width: 100%;
        padding: 8px 10px;
        margin-bottom: 10px;
        
        border: 1px solid #ccc;
        
        font-family: inherit;
        font-size: 16px;
        transition: box-shadow 0.3s;
      }
      .input:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
      }
      
      .btn {
        display: block;
        width: 100%;
        padding: 8px 10px;
        
        border: 0;
        background-color: #1cbc11;
        cursor: pointer;
        
        font-family: inherit;
        font-size: 16px;
        color: #fff;
      }
      
      .btn:hover {
        background-color: #14a20a;
      }
      .popular-product{
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50px;
        margin-top: 15px;
    }
    .popular-text{
        background-color: #000000bb;
        margin-left: 0px;
        border-radius: 20px;
        width: 250px;
        height: 80px;
    }
    .popular-text p{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #fff;
        font-size: 25px;
    }